DB_URL=mongodb://admin:secret@localhost:27017/LMS?authSource=admin
PORT=3001
ORIGIN=['http://localhost:3000']
CLOUDNARY_API_KEY=994334897954969
CLOUDNARY_SECRET_KEY=5UpdeY-FFIiLoesTKN3jh2CRlBs
# Redis 0 is for LMS IF its web redis then write another s to this redis
REDIS_URL=redis://:mysecretpassword@localhost:6379/0
ACESS_TOKEN_PRIVATE_KEY=
